<div>
    <app-widget-area [data]="bigchart"></app-widget-area>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space between center" fxLayoutGap="20px" class="stats-cards" >
    <mat-card fxFlex="25">
        <app-widget-card label="User1" total="12k" percentage="70%" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="User ENGAGEMENT" total="10k" percentage="50%" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="User RETENTION" total="5k" percentage="30%" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Refferal" total="2k" percentage="8%" [data]="cards"></app-widget-card>
    </mat-card>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div fxLayout="row" fxLayoutAlign="space between center" fxLayoutGap="20px">
    <div fxFlex="40">
        <app-widget-pie [data]="piechart"></app-widget-pie>
    </div>
    <div fxFlex="40">
        <app-widget-drilldown [data]="drilldown"></app-widget-drilldown>
    </div>
    <div fxFlex="40">
        <app-widget-datalabel [data]="datalabel"></app-widget-datalabel>
    </div>
</div>